:root {
    --darkerblue: #1e2d3b;
    --darkblue: #2e3a46;
    --green: #1ed760;
    --grey: #707d86;
}

body {
    color: #2c3e50;
    height: 100vh;
    background-color: var(--darkerblue);
    display: flex;
    flex-direction: column;
}

header {
    background-color: var(--darkblue);
    padding: 1rem;
    border-bottom: 10px solid var(--darkerblue);
    flex-shrink: 0;
}

.spotify-logo {
    width: 50px;
    fill: var(--green);
}

.box_img {
    width: 100%;
    aspect-ratio: 1 / 1;
    overflow: hidden;
    margin-bottom: 1rem;
}